body {
  background: #777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.12rem; /* x 16px = 18px */
}

header,
nav,
section,
aside,
footer {
  background: #ebebeb;
  padding: 1.5em 0;
}

aside {
  background-clip: content-box;
}

.col-center-text {
  text-align: center;
}

article {
  background: #777;
  color: #ebebeb;
}

h1,
p {
  background: #ebebeb;
  color: #777;
  padding: inherit;
}

aside p {
  margin-top: 1.5em;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1em;
}

@media screen and (max-width: 48em) {
  aside {
    background-clip: border-box;
    margin-top: 1em;
    padding-left: 0em;
  }

  aside p {
    margin-left: 0em;
    padding-left: 0em;
  }
}
