body {
  background: #777;
  color: #777;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 960px;
}

header,
nav,
section,
aside,
footer {
  background: #ebebeb;
  margin-top: 1em;
  padding: 1.5em 0;
}

header,
nav,
section,
footer {
  margin-left: 1em;
}

aside,
section {
  float: left;
}

section {
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  width: 495px;
}

aside {
  margin-bottom: 1em;
  margin-left: 1em;
  padding-bottom: 327px;
  width: calc(960px - 495px - 2em);
}

article {
  background: #777;
  color: #ebebeb;
  padding: 1em 1em;
  margin-top: 1em;
  margin-left: 1em;
  width: calc(495px - 4em);
}

h1,
p {
  background: #ebebeb;
  color: #777;
  margin-top: 1em;
  padding: inherit;
}

h1 {
  font-weight: bold;
}

footer {
  clear: left;
}
